.body{
    background:darkgray;
    padding-top: 50px;
    padding-bottom: 150px;

}

html, body {
    height: 100%;
    width: 100%;
}

        #forward {
        float: right;
        }

        #reverse {
        float: left;
        }

    .sequence-control-container {
        width: 350px;
        height: 43px;
        background-color: rgba(255,255,255,0.8);
        padding: 10px;
        line-height: 15px;
        text-align: center;
        border: solid black 2px;
    }

    .range-slider {
        width: 200px;
    }

body {
    padding: 1rem;
}

.dropdown-menu {
    margin-top: .75rem;
}
